<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterLogin</filter-name>
        <filter-class>FilterLogin</filter-class>
    </filter>
    <filter>
        <filter-name>FilterNotOwner</filter-name>
        <filter-class>FilterNotOwner</filter-class>
    </filter>
    <filter>
        <filter-name>ProtectDirectory</filter-name>
        <filter-class>ProtectDirectory</filter-class>
    </filter>
    <filter>
        <filter-name>FilterNotInGroup</filter-name>
        <filter-class>FilterNotInGroup</filter-class>
    </filter>
    <filter>
        <filter-name>ProtectFiles</filter-name>
        <filter-class>ProtectFiles</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ProtectFiles</filter-name>
        <url-pattern>/files/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterNotInGroup</filter-name>
        <servlet-name>AddPost</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterNotInGroup</filter-name>
        <servlet-name>GroupHome</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <servlet-name>Logout</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <servlet-name>Login</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <servlet-name>NewGroup</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterNotOwner</filter-name>
        <servlet-name>NewGroup</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <servlet-name>AcceptInvitation</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <servlet-name>UploadAvatar</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <servlet-name>AddPost</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <url-pattern>/database/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ProtectDirectory</filter-name>
        <url-pattern>/database/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewGroup</servlet-name>
        <servlet-class>NewGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupHome</servlet-name>
        <servlet-class>GroupHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptInvitation</servlet-name>
        <servlet-class>AcceptInvitation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAvatar</servlet-name>
        <servlet-class>UploadAvatar</servlet-class>
        <init-param>
            <param-name>
                uploadDir
            </param-name>
            <param-value>
                /tmp
            </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AddPost</servlet-name>
        <servlet-class>AddPost</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>GeneratePdf</servlet-name>
        <servlet-class>GeneratePdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewGroup</servlet-name>
        <url-pattern>/newGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupHome</servlet-name>
        <url-pattern>/groupHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptInvitation</servlet-name>
        <url-pattern>/AcceptInvitation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAvatar</servlet-name>
        <url-pattern>/uploadAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPost</servlet-name>
        <url-pattern>/addPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneratePdf</servlet-name>
        <url-pattern>/GeneratePdf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
